@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-black: #000000;
    --color-white: #ffffff;
    --color-primary: #b600ff;
    --color-secondary: #ff8f35;

    --font-body: var(--font-nunito);
    --font-heading: var(--font-sansation);
}

body {
    @apply bg-black text-white font-body;
}

.container {
    @apply px-5 md:px-0 max-w-[1280px] mx-auto;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    @apply font-heading;
}

h1,
.h1 {
    @apply text-3xl md:text-6xl font-bold tracking-wide;
}

h2,
.h2 {
    @apply text-xl md:text-3xl font-bold;
}

.custom-scrollbar::-webkit-scrollbar {
    @apply w-2;
}

.custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-primary rounded;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded hover:bg-gray-400;
}

/* For Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #ffffff #000000;
}

.text-shadow-white {
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
